code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

div.code-toolbar>.toolbar {
  display: none;
}

pre[class*="language-"] {
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  // max-height: 40rem;
  // overflow: auto;
  color-scheme: dark;

  &:before,
  &:after {
    display: none !important;
  }

  code {
    border-left: 1rem solid transparent;
    box-shadow: none;
    margin: 0;
    font-size: 14px;
    border-radius: 10px;
    color: #ffffff;
    max-height: inherit;
    height: inherit;
    padding: 0 1rem;
    display: block;
    overflow: auto;

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #7D8B99;
    }

    .token.punctuation {
      color: #5F6364;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.function-name,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #c92c2c;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.function,
    .token.builtin,
    .token.inserted {
      color: #2f9c0a;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .token.variable {
      color: #a67f59;
      background: rgba(255, 255, 255, 0.5);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword,
    .token.class-name {
      color: #1990b8;
    }

    .token.regex,
    .token.important {
      color: #e90;
    }

    .language-css .token.string,
    .style .token.string {
      color: #a67f59;
      background: rgba(255, 255, 255, 0.5);
    }

    .token.important {
      font-weight: normal;
    }

    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }

    .token.namespace {
      opacity: .7;
    }
  }
}

.layout-wrapper-dark {
  pre[class*="language-"] {
    code {
      .token {
        &.tag {
          color: var(--text-color) !important;
        }

        &.keyword {
          color: rgb(244, 112, 103) !important;
        }

        &.property {
          color: rgb(150, 208, 255) !important;
        }

        &.attr-name,
        &.attr-string {
          color: rgb(108, 182, 255) !important;
        }

        &.string {
          color: var(--text-color) !important;
        }

        &.attr-value {
          color: var(--text-color) !important;

          .punctuation {
            color: rgb(108, 182, 255) !important;
          }
        }

        &.punctuation {
          color: var(--text-color) !important;
        }

        &.operator,
        &.string {
          background: transparent;
        }

        &.function {
          color: rgb(220, 189, 251) !important;
        }

        &.class-name {
          color: rgb(141, 219, 140) !important;
        }

        &.operator {
          color: rgb(150, 208, 255) !important;
        }
      }
    }
  }
}

.layout-wrapper-light {
  pre[class*="language-"] {
    code {
      .token {
        &.tag {
          color: rgb(10, 48, 105) !important;
        }

        &.keyword {
          color: rgb(207, 34, 46) !important;
        }

        &.property {
          color: rgb(5, 80, 174) !important;
        }

        &.attr-name,
        &.attr-string {
          color: rgb(5, 80, 174) !important;
        }

        &.string {
          color: rgb(10, 48, 105) !important;
        }

        &.attr-value {
          color: rgb(10, 48, 105) !important;

          .punctuation {
            color: rgb(10, 48, 105) !important;
          }
        }

        &.punctuation {
          color: rgb(5, 80, 174) !important;
        }

        &.operator,
        &.string {
          background: transparent;
        }

        &.function {
          color: rgb(130, 80, 223) !important;
        }

        &.class-name {
          color: rgb(17, 99, 41) !important;
        }

        &.operator {
          color: rgb(5, 80, 174) !important;
        }
      }
    }
  }
}

.copy-to-clipboard-button {
  display: none;
}

pre[class*="language-"] {
  position: relative;
  background: transparent !important;

  &:before,
  &:after {
    display: none !important;
  }

  code {
    border-left: 1rem solid transparent !important;
    box-shadow: none !important;
    background: var(--surface-card) !important;
    margin: 0;
    color: var(--surface-900);
    font-size: 14px;
    border-radius: 10px;
  }
}
