:root {
  --card-background: #ffffff;
  --border-color: var(--surface-200);
  --hover-background: var(--surface-100);
  --high-contrast-text-color: var(--surface-900);
  --hover-border-color: var(--surface-400);
  --mark-background: var(--surface-200);
  --mark-text-color: var(--surface-700);
  --selection-background: var(--surface-200);
  --selection-text-color: var(--surface-900);
  --code-button-background: rgba(0, 0, 0, .05);
  --code-button-border: 1px solid rgba(0, 0, 0, .1);
  --code-button-text-color: var(--surface-700);
}
